# MWRR Activity
Integrantes:

In [11]:
import pyxirr as px
import numpy as np
import pandas as pd
import dateparser as dp
import utils as ut

In [7]:
balances = pd.read_excel('data_actividad.xlsx', sheet_name='balances')
movements = pd.read_excel('data_actividad.xlsx', sheet_name='movements')

In [4]:
def clean_balance_data(data):
    cols = ['contract','value_pos_mdo','balance_date']
    df = data[cols]

    df['balance_date_2'] = df["balance_date"].apply(lambda x: dp.parse(x))
    #df["balance_date_2"] = df["balance_date_2"].dt.strftime("%d-%m-%Y")
    #df["balance_date_2"] = pd.to_datetime(df["balance_date_2"], errors="coerce", dayfirst=True)
    clean_balance_data = (df.groupby(["contract", "balance_date_2"], as_index=False)["value_pos_mdo"]
      .sum()
)

    return clean_balance_data

In [10]:
data_balances = clean_balance_data(balances)
data_balances

/var/folders/rn/hjwtr25n6llg8vbsq0pnyv2w0000gn/T/ipykernel_51029/2394315205.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balance_date_2'] = df["balance_date"].apply(lambda x: dp.parse(x))

     contract balance_date_2  value_pos_mdo
0    12861603     2023-01-12    100000.0000
1    12861603     2023-01-13    100000.0000
2    12861603     2023-01-16    267081.1981
3    12861603     2023-01-17    270193.5784
4    12861603     2023-01-18    270369.3147
..        ...            ...            ...
578  AHA84901     2023-11-24    430177.2279
579  AHA84901     2023-11-27    430473.7846
580  AHA84901     2023-11-28    430652.7504
581  AHA84901     2023-11-29    430736.0483
582  AHA84901     2023-11-30    430842.6591

[583 rows x 3 columns]

In [30]:
def clean_balance_data3(data):
    cols = ['contract','value_pos_mdo','balance_date']
    df = data[cols].copy()

    # Parse balance_date into datetime
    df['balance_date_2'] = df["balance_date"].apply(lambda x: dp.parse(x))

    # Dictionary to store grouped dfs
    contract_dfs = {}
    for contract, group in df.groupby("contract"):
        grouped = group.groupby("balance_date_2", as_index=False)["value_pos_mdo"].sum()
        contract_dfs[contract] = grouped.reset_index(drop=True)

        # Create a global variable for each contract
        globals()[f"df_{contract}"] = contract_dfs[contract]

    # Collect names of created variables
    created_vars = [f"df_{contract}" for contract in contract_dfs.keys()]

    return contract_dfs, created_vars

In [ ]:
data_balances3, contract_names = clean_balance_data3(balances)

In [38]:
print(contract_names)

['df_12861603', 'df_20486403', 'df_AHA84901']

In [39]:
df_20486403.head()

  balance_date_2  value_pos_mdo
0     2022-12-09   1.531486e+06
1     2022-12-13   1.532354e+06
2     2022-12-14   1.533558e+06
3     2022-12-15   1.533234e+06
4     2022-12-16   1.533722e+06