# MWRR Activity
Integrantes:

In [12]:
import pyxirr as px
import numpy as np
import pandas as pd
import dateparser as dp

In [ ]:
balances = pd.read_excel('data_actividad.xlsx', sheet_name='balances')

In [53]:
def clean_balance_data(data):
    cols = ['contract','value_pos_mdo','balance_date']
    df = data[cols]

    df['balance_date_2'] = df["balance_date"].apply(lambda x: dp.parse(x))
    #df["balance_date_2"] = df["balance_date_2"].dt.strftime("%d-%m-%Y")
    #df["balance_date_2"] = pd.to_datetime(df["balance_date_2"], errors="coerce", dayfirst=True)
    clean_balance_data = (df.groupby(["contract", "balance_date_2"], as_index=False)["value_pos_mdo"]
      .sum()
)

    return clean_balance_data

In [ ]:
data_balances = clean_balance_data(balances)
data_balances

/var/folders/rn/hjwtr25n6llg8vbsq0pnyv2w0000gn/T/ipykernel_36070/2394315205.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['balance_date_2'] = df["balance_date"].apply(lambda x: dp.parse(x))

     contract balance_date_2  value_pos_mdo
0    12861603     2023-01-12    100000.0000
1    12861603     2023-01-13    100000.0000
2    12861603     2023-01-16    267081.1981
3    12861603     2023-01-17    270193.5784
4    12861603     2023-01-18    270369.3147
..        ...            ...            ...
578  AHA84901     2023-11-24    430177.2279
579  AHA84901     2023-11-27    430473.7846
580  AHA84901     2023-11-28    430652.7504
581  AHA84901     2023-11-29    430736.0483
582  AHA84901     2023-11-30    430842.6591

[583 rows x 3 columns]